{{!-- <h1>{{tittle}}</h1> --}}
<br>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <span>Contact</span>
            <h2>Contact</h2>

        </div>
        <div>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.907583318049!2d90.38452161498137!3d23.75067478458933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8bb2b0758f9%3A0xe21afdf459453ff!2sPeopleNTech%20Institute%20of%20IT%20-%20training%20%26%20Job%20Placement%20Service!5e0!3m2!1sen!2sbd!4v1667902200186!5m2!1sen!2sbd"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->
        {{!-- <h1>{{title}}</h1> --}}
        <div class="row gy-4 mt-4">

            <div class="col-lg-4">

                <div class="info-item d-flex">
                    <i class="bi bi-geo-alt flex-shrink-0"></i>
                    <div>
                        <h4 style="color:rgba(103, 238, 76, 0.877);">Location:</h4>
                        <div>
                            <p style="color:rgb(243, 233, 233);">151/7, Good Luck Center (7th, 8th) Floor Panthapath
                                Signal, Green Rd, Dhaka 1205</p>
                        </div>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-envelope flex-shrink-0"></i>
                    <div>
                        <h4 style="color:rgba(103, 238, 76, 0.877);">Email:</h4>
                        <p style="color:rgb(243, 233, 233);">csekoushik2001@gmail.com</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item d-flex">
                    <i class="bi bi-phone flex-shrink-0"></i>
                    <div>
                        <h4 style="color:rgba(103, 238, 76, 0.877);">Call:</h4>
                        <p style="color:rgb(243, 233, 233);">+8801719614608</p>
                    </div>
                </div><!-- End Info Item -->

            </div>

            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>
</section><!-- End Contact Section -->